<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.esdemo.mapper.BookMapper">


    <select id="selectBook" resultType="com.esdemo.bean.EsBook">
        select * from book limit 1000
    </select>
</mapper>